/*span.example-title {
    text-transform: none;
}*/

:is(aside,div).definition,
div.illegal-example {
    padding: 0.5em;
    margin: 1em 0;
    position: relative;
    clear: both;
}

:is(aside,div).definition {
    border-left-width: 0.5em;
    border-left-style: solid;
    border-color: #a87efc;
    background: #efe8fa;
}

aside.definition div.definition {
    border-left-width: 0.1em;
    border-color: #999;
    background: #fff;
}

.definition pre {
    background-color: rgba(0, 0, 0, 0.03);
}