/*span.example-title {
    text-transform: none;
}*/

section {
    counter-reset: css-counter none;
}

:is(aside,div).definition,
div.illegal-example {
    padding: 0.5em;
    margin: 1em 0;
    position: relative;
    clear: both;
}

:is(aside,div).definition {
    border-left-width: 0.5em;
    border-left-style: solid;
    border-color: #a87efc;
    background: #efe8fa;
    counter-increment: css-counter 1;
}

/*aside.definition div.definition {
    border-left-width: 0.1em;
    border-color: #999;
    background: #fff;
}*/

/*dfn:before {
    content:"DEFINITIE " counter(css-counter) ": ";
    font-weight: normal;
}*/

dfn {
    font-style: normal;
}

/*dfn:after {
    content: "\A";
    white-space: pre-wrap;
}*/