/*-- Definite van tabellen ---------------------------------------------------------*/
table
{
  empty-cells: show;
  min-width: 90%;
}

/* geef table head minder gewicht*/
th
{ 
  font-weight: normal;
}

/* lege kolommen hebben deze minimale breedte */
td
{
  min-width: 100px;     
}